Trl.PegParser/bin/
Trl.PegParser/obj/
Trl.PegParser.Tests/bin/
Trl.PegParser.Tests/obj/
.vs/
.vscode/launch.json
.vscode/tasks.json
nupkg/
Trl.PegParser.Tests/TestResults/
UnitTestCoverageReport/
Trl.PegParser.SampleApp/bin/
Trl.PegParser.SampleApp/obj/
Trl.PegParser.SampleApp_Old/
